/**
 * Primary styles
 *
 * Author: Mark Bradley
 */

html {
  background-color: #F8F8F8;
  background-image: url(/img/29-b.png), url(/img/37-b.png), url(/img/53-b.png);
  padding: 10px 0;
  color: #CCC;
}

body {
  background-color: inherit;
}

#body {
  margin: 0 auto;
}

header, p, div.highlight, ul, ol {
  margin-bottom: 1em;
}

header h3 a {
  text-decoration: none;
}

figure {
  float: right;
  padding: 10px;
  background-color: #DDD;
  box-shadow: 0 0 5px #888;
  border-radius: 5px;
  text-align: center;
}

figure img {
  /* margin of 10 */
  /* (896 / 2) - 20 */
  max-width: 428px;
}

/*  Default Layout: 992px.
Gutters: 24px.
Outer margins: 48px.
Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

#body {
  width: 896px;
  padding: 48px;
  /*original*/
  /*padding: 72px 48px 84px;*/
  /*color: rgb(60,60,60);*/
  -webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}

/*  Extended Layout: 1180px
 *  Gutters: 24px;
 *  Outer margins: 50px;
-----------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10     11  12
px      68    160    252    344    436    528    620    712    804    896    988 1080 */

@media only screen and (min-width: 1180px) {

  #body {
    width: 1080px;
    padding: 50px;
  }

  .codepost p, .codepost ul {
    width: 436px;
  }

  .codepost div.highlight {
    width: 620px;
    float: right;
  }

}


/* Tablet Layout: 768px.
Gutters: 24px.
Outer margins: 28px.
Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

  #body {
    width: 712px;
    padding: 28px;
    /*padding: 48px 28px 60px;*/
  }

}



/* Mobile Layout: 320px.
Gutters: 24px.
Outer margins: 34px.
Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

  #body {
    width: 252px;
    padding: 24px;
    /*padding: 48px 24px 60px;*/
  }

}



/* Wide Mobile Layout: 480px.
Gutters: 24px.
Outer margins: 22px.
Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {

  #body {
    width: 436px;
    padding: 22px;
    /*padding: 36px 22px 48px;*/
  }

}

