---
layout: default
title: things
---

<article>
  <header>
    <h2>things</h2>
  </header>
  {% assign anything = false %}
  {% for pag in site.pages %}
    {% if pag.url contains '/things/' %}
      {% assign anything = true %}
    {% endif %}
  {% endfor %}
  {% if anything %}
  <ul class="posts">
  {% for pag in site.pages %}
    {% if pag.url contains '/things/' %}
    {% if pag.url != page.url %}
    <li>
      <a href="{{ pag.url }}">{{ pag.title }}</a>
    </li>
    {% endif %}
    {% endif %}
  {% endfor %}
  </ul>
  {% else %}
  <h3>nothing yet</h3>
  {% endif %}

</article>
