<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
       Remove this if you use the .htaccess -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{ page.title }} - barkmadley.com</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}
  <meta name="author" content="Mark Bradley">

  <!-- Mobile viewport optimized: j.mp/bplateviewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">


  <!-- CSS: implied media="all" -->
  <link rel="stylesheet" href="/css/style.css?v=9">
  <link rel="stylesheet" href="/css/pygments.css?v=9">
  <link rel="stylesheet" href="/js/libs/sb/shadowbox.css">

  <!-- Uncomment if you are specifically targeting less enabled mobile browsers
  <link rel="stylesheet" media="handheld" href="/css/handheld.css?v=9">  -->

  <!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
  <script src="/js/libs/modernizr-1.7.min.js"></script>

</head>

<body>

  <header>
    <h1>bark&shy;madley</h1>
    <h3>
      <a href="/">thinker</a>,
      <a href="http://github.com/barkmadley">hacker</a>
      <a href="http://twitter.com/barrkmadley">and</a>
      <a href="/archive/">other</a>
      <a href="/things/">things</a>
    </h3>
  </header>

  {{ content }}

  <!-- JavaScript at the bottom for fast page loading -->

  <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
  <script>window.jQuery || document.write("<script src='/js/libs/jquery-1.6.1.min.js'>\x3C/script>")</script>
  <script src="/js/libs/jquery.tmpl.js"></script>
  <script src="/js/libs/knockout-1.2.1.debug.js"></script>
  <script src="/js/libs/sb/shadowbox.js"></script>

  <!-- scripts concatenated and minified via ant build script-->
  <script src="/js/plugins.js?v=9"></script>
  <script>
/* Author: Mark Bradley
 * no point in putting this in a seperate file when its so small.
 */

/* if a page has an init function defined, run that function once the page has
 * finished loading */
$(function () {
  if (window.page_init) {
    window.page_init();
  }
});
Shadowbox.init();
  </script>
  <!-- end scripts-->

  <!--[if lt IE 7 ]>
  <script src="/js/libs/dd_belatedpng.js"></script>
  <script>DD_belatedPNG.fix("img, .png_bg"); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
  <![endif]-->


  <!-- mathiasbynens.be/notes/async-analytics-snippet Change UA-XXXXX-X to be your site's ID -->
  {% if site.safe %}
  <script>
    var _gaq=[["_setAccount","UA-9071772-3"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>
  {% endif %}

</body>
</html>
